import os
basedir = os.path.abspath(os.path.dirname(__file__))

SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'db/app.db')
SQLALCHEMY_MIGRATE_REPO = os.path.join(basedir, 'db_repository')

CSRF_ENABLED = True
SECRET_KEY = 'foobar'
GOOGLE_ANALYTICS_KEY = ""
TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""
TWITTER_ACCESS_TOKEN_KEY = ""
TWITTER_ACCESS_TOKEN_SECRET = ""
MASTODON_CLIENT_KEY = ""
MASTODON_CLIENT_SECRET = ""
MASTODON_ACCESS_TOKEN = ""
MASTODON_BASE_URL = ""

ADMIN_USERNAME = ''
ADMIN_PASSWORD = ''

SQLALCHEMY_TRACK_MODIFICATIONS = False

MAIL_SERVER = 'smtp.foo.com'
MAIL_PORT = 465
#MAIL_USE_TLS = False
MAIL_USE_SSL = True
MAIL_USERNAME = ''
MAIL_PASSWORD = ''
