Cactus==2.3.1
Django==1.5.5
Fabric==1.6.0
Markdown==2.3.1
PIL==1.1.7
boto==2.23.0
fabricator==0.1.32
marshmallow==0.5.5
paramiko==1.10.1
pycrypto==2.6
stevedore==0.15
tl.cli==0.2
tl.rename==0.1.2
vboxapi==1.0
virtualenv==1.11.5
virtualenv-clone==0.2.5
virtualenvwrapper==4.2
wsgiref==0.1.2
