Flask==0.10.1
Flask-Admin==1.0.8
Flask-Login==0.2.10
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.23
SQLAlchemy==0.9.4
Tempita==0.5.2
WTForms==1.0.5
Werkzeug==0.9.4
decorator==3.4.0
itsdangerous==0.24
pbr==0.8.0
six==1.6.1
sqlalchemy-migrate==0.9.1
wsgiref==0.1.2
