<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>{% block title %}Con-Mon{% endblock %}</title>
	<link href='https://fonts.googleapis.com/css?family=Arvo:700|Arimo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/static/dist/css/application.css?ckcachebust=BFFB99208B18D3708AC7E087CECC364F" type="text/css" media="screen">
	<link rel="shortcut icon" href="/static/img/favicon.png?ckcachebust=C3262E38AFF0E063F3EAB1406C2BDEB4">
	<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png?ckcachebust=A31920E02BAED010FEBC98E57EFD2B50">
	<script src="{{ url_for('static', filename='dist/js/modernizr.js') }}" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="me" href="https://botsin.space/@conmon?ckcachebust=696784196">
	<meta name="description" content="A service to help cartoonists keep track of conventions.">
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
<div id="wrapper">
	<header>
		<div class="wrap">
			<h1><a href="/">Con-Mon</a></h1>
			<h2>A service to help cartoonists keep track of conventions.</h2>
			<p>
				Follow to get a heads up on registration deadlines and upcoming conventions:
				<!-- <a href="https://botsin.space/@conmon">Mastodon</a> -->
				<a href="https://bsky.app/profile/con-mon.bsky.social">
					<svg width="17" height="15" viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg">
					    <path id="Path" fill="#ffcc2f" stroke="none" d="M 5.2026 1.661509 C 7.751614 3.545321 10.493366 7.364905 11.5 9.414717 C 12.50671 7.365057 15.24831 3.545284 17.7974 1.661509 C 19.636633 0.302225 22.616667 -0.74951 22.616667 2.59717 C 22.616667 3.265547 22.22739 8.211886 21.999077 9.014906 C 21.205462 11.806755 18.313559 12.518829 15.741162 12.087849 C 20.237663 12.841208 21.381529 15.336604 18.911213 17.832001 C 14.219597 22.571245 12.167996 16.642906 11.642063 15.12385 C 11.545692 14.84537 11.500598 14.715095 11.499934 14.825871 C 11.499268 14.71509 11.454176 14.845369 11.357806 15.12385 C 10.832103 16.642906 8.780541 22.571398 4.088656 17.832001 C 1.618303 15.336604 2.762131 12.841057 7.258708 12.087849 C 4.686235 12.518829 1.794291 11.806751 1.000791 9.014906 C 0.77247 8.211812 0.383203 3.265472 0.383203 2.59717 C 0.383203 -0.74951 3.363313 0.302225 5.20247 1.661509 Z"/>
					</svg>
					Bluesky
				</a>
			</p>
			<p class="ical">Subscribe to the Con-Mon calendar: <input type="text" class="autograb" value="https://con-mon.com/condates.ics" size="35" onclick="javascript:this.select()"></p>
			<p class="missing"><span>Missing something?</span> <a href="#" class="button show-submit-condate">Submit a Convention Date</a> <br>or <a href="/condates" class="button accent">Bulk Submit Condates</a></p>
			{% include "submit-condate.html" %}
		</div>
	</header>
	<div id="content">
		{% include 'flash.html' %}
		{% block content %}{% endblock content %}
	</div><!-- END #content -->

	<footer>
		<p><a href="https://clixel.com/" class="clixel">Site by Clixel</a></p>
	</footer>
</div><!-- END #wrapper -->
<script src="/static/dist/js/application.js?ckcachebust=94D4EB3CFEDD9A1589D101204770B90C" type="text/javascript"></script>
</body>
</html>
