<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<!DOCTYPE html>
<head>
	<meta charset='utf-8'>
	<title>{% block title %}Con-Mon{% endblock %}</title>
	<link href='http://fonts.googleapis.com/css?family=Arvo:700|Arimo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}?v4" type="text/css" media="screen">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
	<script src="{{ url_for('static', filename='js/modernizr.custom.35873.js') }}" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="A service to help cartoonists keep track of conventions.">
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
<div id="wrapper">
	<header>
		<div class="wrap">
			<h1><a href="/">Con-Mon</a></h1>
			<h2>A service to help cartoonists keep track of conventions.</h2>
			<p>Follow me on Twitter to get a heads up on registration deadlines and upcoming conventions: <a href="https://twitter.com/conmonapp">@conmonapp</a></p>
			<p class="missing"><span>Am I missing something?</span> <a href="#" class="button show-submit-condate">Submit a Convention Date</a> <br>or <a href="/condates" class="button accent">Bulk Submit Condates</a></p>
			{% include "submit-condate.html" %}
		</div>
	</header>
	<div id="content">
		{% include 'flash.html' %}
		{% block content %}{% endblock content %}
	</div><!-- END #content -->

	<footer>
		<p><a href="http://clixel.com/" class="clixel">Site by Clixel</a></p>
	</footer>
</div><!-- END #wrapper -->
<script src="{{ url_for('static', filename='js/application-min.js') }}" type="text/javascript"></script>
</body>
</html>
