{% extends "base.html" %}
{% block body_id %}condates{% endblock body_id %}

{% block content %}

	<section class="upcoming">
		<h1>All Conventions</h1>
		<form class="quicksearch" action="#">
			<input type="text" name="term" placeholder="Quick search...">
		</form>
		<div class="conventions">
			{% for convention in conventions %}
				<article class="convention{% if convention.archived %} archived{% endif %}" data-id="{{ convention.id }}">
					<h2>{{ convention.title }} <small>{% if convention.archived %}(not active){% endif %}</small></h2>
					<p class="city">{{ convention.location }}</p>
					<p class="meta">
						{% if convention.url %}
							<a rel="noopener" target="_blank" href="{{ convention.url }}">{{ convention.url }}</a>
						{% endif %}
						{% if convention.twitter %}
							{% if convention.url %}—{% endif %} <a rel="noopener" target="_blank" href="https://twitter.com/{{ convention.twitter }}">@{{ convention.twitter }}</a>
						{% endif %}
					</p>
					<ul class="condates">
					{% for condate in convention.condates %}
						{% if condate.published %}
						<li class="{% for tag in condate.convention.tags %}tagged-{{ tag.title }} {% endfor %}{{ condate.start_date|away_tags }}" data-condate-id="{{ condate.id }}">
							<span class="title">{{ condate.title }}</span>
							 <span class="date">
							 {{ condate.start_date.strftime('%b %e')|trim }}
							{%- if condate.end_date and condate.end_date != condate.start_date -%}
								&ndash;{{ condate.end_date.strftime('%e')|trim }}
							{%- endif %}, {{ condate.start_date.strftime('%Y') }}
							</span>
						</li>
						{% endif %}
					{% endfor %}
					</ul>
					{% if not convention.archived %}
						<a href="#" class="add-new-condate button">+ Add Condate</a>
						{% with convention_id=convention.id %}
							{% include "submit-condate.html" %}
						{% endwith %}
					{% endif %}
				</article>
			{% endfor %}
		</div>
	</section>

{% endblock content %}