{% extends "base.html" %}
{% block content %}
	
	<section class="upcoming">
	<h2>Upcoming Conventions</h2>
	<p class="tags">
	Filter: 
	{% for tag in tags %}
		<a class="tag" href="/tagged/{{ tag.title }}/">{{ tag.title }}</a>
	{% endfor %}
	</p>
	{% if condates %}
		<table><tbody>
		<tr><th>Con</th><th>Date</th><th class="keep-drawing">Keep Drawing</th><th><span class="small-only">Reg. Status</span><span class="large-only">Registration Status</span></th></tr>
		{% for condate in condates %}
			<tr class="condate {% for tag in condate.convention.tags %}tag-{{ tag.title }}{% endfor %}" data-condate-id="{{ condate.id }}">
				<td><h2><a target="_blank" href="{{ condate.convention.url }}" class="tooltip" title="{{ condate.convention.body }}">{{ condate.convention.title }}</a></h2></td>
				 <td class="date">
				 <time class="dtstart" datetime="{{ condate.start_date }}">{{ condate.start_date.strftime('%b %e')|trim }}</time>
				{%- if condate.end_date and condate.end_date != condate.start_date -%}
					&ndash;<time class="dtstart" datetime="{{ condate.end_date }}">{{ condate.end_date.strftime('%e')|trim }}</time>
				{%- endif %}, {{ condate.start_date.strftime('%Y') }}
				</td>
				<td class="keep-drawing">
					<span class="days-away">{{ condate.start_date|timeaway }}</span>
				</td>
				<td>
				{% if condate.registration_opens %}
					{% if condate.registration_closes and condate.registration_closes|in_past %}
						<span class="reg-status tag closed">Registration Closed</span>
					{% elif condate.registration_opens|in_past %}
						{% if condate.registration_closes %}
							<span class="reg-status tag">Registration Closes {{ condate.registration_closes.strftime('%b %e')|trim }}</span>
						{% else %}
							<span class="reg-status tag">Registration Open</span>
						{% endif %}
					{% else %}
						<span class="reg-status tag">Registration Opens {{ condate.registration_opens.strftime('%b %e')|trim }}</span>
					{% endif %}
				{% else %}
					{# <span class="reg-status tag closed">Unknown</span> #}
				{% endif %}

				</td>
{# 				<td>
				{% if condate.convention.tags %}
					{% for tag in condate.convention.tags %}
						<span class="tag">{{ tag.title }}</span>
					{% endfor %}
				{% endif %}
				</td>
 #}			</tr>
		{% endfor %}
		</tbody></table>
	{% endif %}
	<p class="missing">Am I missing something? Email <a href="mailto:nate@clixel.com">nate@clixel.com</a></p>
	</section>

	<section class="calendars cf">
		{% for i in "012345678901" %}
			<div class="cal cal{{ loop.index }}"></div>
		{% endfor %}
		<div class="loading"><i></i><i></i><i></i><i></i></div>
	</section>

	<script type="text/template" id="template-calendar">
	<div class="clndr-grid">
		<div class="month cf tooltip" title="foo"><h3><%= month %> <%= year %></h3></div>
		<ul class="days-of-the-week cf">
			<% _.each(daysOfTheWeek, function(day) { %>
				<li><%= day %></li>
			<% }); %>
		</ul>
		<ul class="days cf">
			<% _.each(days, function(day) { %>
				<li class="<%= day.classes %>">
				<%= day.day %>
				<div class="event-detail"><% _.each(day.events, function(event){ %>
					<h3 data-condate-id="<%= event.id %>"><%= event.title %></h3>
				<% }); %></div>
				</li>
			<% }); %>
		</ul>
	</div>
	</script>
{% endblock content %}