{% extends "base.html" %}
{% block content %}
	
	<section class="upcoming">
	<h2>Upcoming Conventions</h2>
	{% if condates %}
		<ul>
		{% for condate in condates %}
			<li data-condate-id="{{ condate.id }}">
				<h2><a href="{{ condate.convention.url }}" class="tooltip" title="{{ condate.convention.body }}">{{ condate.convention.title }}</a></h2>
				 <span class="date">
				 <time class="dtstart" datetime="{{ condate.start_date }}">{{ condate.start_date.strftime('%b %e')|trim }}</time>
				{%- if condate.end_date and condate.end_date != condate.start_date -%}
					&ndash;<time class="dtstart" datetime="{{ condate.end_date }}">{{ condate.end_date.strftime('%e')|trim }}</time>
				{%- endif %}, {{ condate.start_date.strftime('%Y') }}
					<span class="days-away">{{ condate.start_date|timeaway }}</span>
				</span>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
	<p class="missing">Am I missing something? Email <a href="mailto:nate@clixel.com">nate@clixel.com</a></p>
	</section>

	<section class="calendars cf">
		{% for i in "012345678901" %}
			<div class="cal cal{{ loop.index }}"></div>
		{% endfor %}
	</section>

	<script type="text/template" id="template-calendar">
	<div class="clndr-grid">
		<div class="month cf tooltip" title="foo"><h3><%= month %> <%= year %></h3></div>
		<ul class="days-of-the-week cf">
			<% _.each(daysOfTheWeek, function(day) { %>
				<li><%= day %></li>
			<% }); %>
		</ul>
		<ul class="days cf">
			<% _.each(days, function(day) { %>
				<li class="<%= day.classes %>">
				<%= day.day %>
				<div class="event-detail" title="<%= event.title %>"><% _.each(day.events, function(event){ %>
					<h3 data-condate-id="<%= event.id %>"><%= event.title %></h3>
				<% }) %></div>
				</li>
			<% }); %>
		</ul>
	</div>
	</script>
{% endblock content %}