<form action="/submit_condate" method="post" class="submit-condate hidden">
	<fieldset>
		{% if convention_id is defined %}
			<input type="hidden" name="convention" value="{{ convention_id }}">
		{% else %}
			<div class="select-convention">
				<label for="convention">Select convention:</label>
				<select class="chzn" id="convention" name="convention" required>
				<option value="">...</option>
				{% for convention in conventions %}
					{% if not convention.archived %}
						<option value="{{ convention.id }}">{{ convention.title }}</option>
					{% endif %}
				{% endfor %}
					<option value="other">Other...</option>
				</select>
				<div class="other-fields hidden">
					<div class="row">
						<div class="field">
							<label>Convention name</label>
							<input type="text" name="convention_title" placeholder="CAKE">
						</div>
						<div class="field">
							<label>City, State</label>
							<input type="text" name="convention_location" placeholder="Chicago, IL">
						</div>
						<div class="field">
							<label>Website</label>
							<input type="text" name="convention_url" placeholder="https://cakechicago.com/">
						</div>
						<div class="field">
							<label>Twitter handle</label>
							<input type="text" name="convention_twitter" placeholder="@CAKEchicago">
						</div>
					</div>
					<div class="row tags">
					{% for tag in tags %}
						<label for="tag-{{ tag.id }}" class="checkbox"><input id="tag-{{ tag.id }}" type="checkbox" name="convention_tags" value="{{ tag.id }}" {% if tag.title=='Indie' %}checked{% endif %}> {{ tag.title }}</label>
					{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

		<div class="con-dates row">
			<div class="field">
				<label for="start_date">Start date</label>
				<input class="dp" autocomplete="off" size="15" id="start_date" name="start_date" type="text" value="" placeholder="" required>
			</div>

			<div class="field">
				<label for="end_date">End date</label>
				<input class="dp" autocomplete="off" size="15" id="end_date" name="end_date" type="text" value="" placeholder="">
			</div>

			<div class="field">
				<label for="registration_opens">Registration opens</label>
				<input class="dp" autocomplete="off" size="15" id="registration_opens" name="registration_opens" type="text" value="" placeholder="">
			</div>

			<div class="field">
				<label for="registration_closes">Registration closes</label>
				<input class="dp" autocomplete="off" size="15" id="registration_closes" name="registration_closes" type="text" value="" placeholder="">
			</div>
		</div>
	</fieldset>

	<fieldset class="extras">
		<div>
			<label for="notes">Your email (optional)</label>
			<input type="text" name="email" placeholder="" size="15">
		</div>
	</fieldset>

	<div class="status"></div>

	<div class="actions">
		<!-- die bots --><div style="position: absolute; left: -5000px;"><input type="text" name="diebots_5000" tabindex="-1" value=""></div>
		<input type="submit" class="button" value="Submit">
	</div>
</form>