<form action="/submit_note" method="post" class="submit-note hidden">
	<fieldset class="extras">
		<textarea name="note_body" cols="50" rows="4" placeholder="Shoot Nate a quick note! Registration opening date, suggestions for improvements, blathering praise, etc." required></textarea>
		<div>
			<label for="notes">Your Email</label>
			<input type="text" name="note_email" placeholder="Your Email" size="15" required>
		</div>
	</fieldset>

	<div class="actions">
		<input type="submit" class="button" value="Looks Good!">
	</div>
</form>
