.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.noselect
{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

//////////////////////////////////

$clndr-border: 1px solid #000;

.clndr-grid {
    .days {
        // border: 1px solid #ccc;
        // overflow: hidden;
    }
    li {
        background:#fff;
        border-bottom: 1px solid #ddd;
        display: block;
        float: left;
        width: 42px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: #999;
        &.today {
            color: #000;
            background: #9aee9b;
        }
        &.event {
            background: #bcd7ee;
            color: #000;
        }
        &.empty {
            background: #ddd;
        }
    }
    .days-of-the-week {
        li {
            font: bold 12px/1 'Arvo';
            background: #70ae26;
            color: #fff;
            height: 34px;
            line-height: 34px;
        }
    }
    .month {
        text-transform: uppercase;
    }
    .event-detail {
        display: none;
    }

}

.cal
{
    float: left;
    width: 294px;
    margin: 0 16px 20px 0;
    font-size: 14px;
    &:nth-child(3n+1) {
        clear: left;
    }

    .clndr
    {
        .clndr-controls
        {
            @extend .clearfix;
            width: 100%;
            position: relative;
            margin-bottom: 10px;

            .month
            {
                // float: left;
                // width: 33%;
                // text-align: center;
            }

            .clndr-control-button
            {
                float: left;
                width: 33%;
                display: none;

                &.rightalign
                {
                    text-align: right;
                    width: 34%;
                }
                .clndr-next-button
                {
                    cursor: pointer;
                    @extend .noselect;
                    &:hover { background: #ddd; }
                    &.inactive
                    {
                        opacity: 0.5;
                        &:hover
                        {
                            background: none;
                            cursor: default;
                        }
                    }
                }
                .clndr-previous-button
                {
                    cursor: pointer;
                    @extend .noselect;
                    &:hover { background: #ddd; }
                    &.inactive
                    {
                        opacity: 0.5;
                        &:hover
                        {
                            background: none;
                            cursor: default;
                        }
                    }
                }
            }
        }

        .clndr-table
        {
            table-layout: fixed;
            width: 100%;

            .header-days
            {
                height: 30px;
                font-size: 10px;
                background: #0D70A6;

                .header-day
                {
                    vertical-align: middle;
                    text-align: center;
                    border-left: $clndr-border;
                    border-top: $clndr-border;

                    color: #fff;

                    &:last-child
                    {
                        border-right: $clndr-border;
                    }
                }
            }

            tr
            {
                height: 35px;

                td
                {
                    vertical-align: top;
                }

                .day
                {
                    border-left: $clndr-border;
                    border-top: $clndr-border;
                    width: 100%;
                    height: inherit;

                    &:hover { background: #eee; }

                    &.today
                    {
                        background: #9AD6E3;
                        &:hover { background: darken(#9AD6E3, 10%); }
                        &.event
                        {
                            background: mix(#B4E09F, #9AD6E3);
                        }
                    }

                    &.event
                    {
                        background: #B4E09F;
                        &:hover
                        {
                            background: darken(#B4E09F, 10%);
                        }
                    }

                    &.inactive
                    {
                        background: #ddd;
                    }

                    &:last-child
                    {
                        border-right: $clndr-border;
                    }

                    .day-contents
                    {
                        box-sizing: border-box;
                        // width: 100%;
                        // height: 100%;
                        padding: 8px;
                        font-size: 12px;
                        text-align: right;
                    }
                }

                .empty, .adjacent-month
                {
                    border-left: $clndr-border;
                    border-top: $clndr-border;
                    width: 100%;
                    height: inherit;
                    background: #eee;

                    &:hover { background: #ddd; }

                    &:last-child
                    {
                        border-right: $clndr-border;
                    }
                }

                &:last-child
                {
                    .day
                    {
                        border-bottom: $clndr-border;
                    }

                    .empty
                    {
                        border-bottom: $clndr-border;
                    }
                }
            }
        }
    }

}
