@import 'mixins';

.noselect
{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

//////////////////////////////////

$clndr-border: 1px solid #000;

.clndr-grid {
    .days {
        // border: 1px solid #ccc;
        // overflow: hidden;
    }
    li {
        background:#fff;
        border-bottom: 1px solid rgba($dark,.15);
        display: block;
        float: left;
        width: 14.24%;
        height: 34px;
        line-height: 34px;
        text-align: center;
        color: rgba($dark,.5);
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
        transition-delay: .1s;
        -webkit-transition-delay: .1s;
        &.today {
            color: #000;
            box-shadow: inset 0 0 10px $highlight;
        }
        &.event {
            background: $highlight;
            color: #fff;
            box-shadow: inset 0 0 10px rgba($dark,.3);
        }
        &.empty {
            background: rgba($dark,.15);
        }
        &.inactive {
            opacity: .3;
        }
    }
    .days-of-the-week {
        li {
            font: bold 12px/1 'Arvo';
            background: rgba($dark,.65);
            color: #fff;
            height: 34px;
            line-height: 34px;
            border-bottom: 1px solid rgba($dark,.35);
        }
    }
    .month {
        text-transform: uppercase;
        color: $dark;
    }
    .event-detail {
        display: none;
    }

}

.cal {
    width: 90%;
    margin: 0 auto 24px;
    font-size: 14px;
    &:nth-child(3n+1) {
        clear: left;
    }
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    transition-delay: .1s;
    -webkit-transition-delay: .1s;
    &.inactive {
        opacity: .25;
    }

    .clndr
    {
        .clndr-controls
        {
            @extend .cf;
            width: 100%;
            position: relative;
            margin-bottom: 10px;

            .month
            {
                // float: left;
                // width: 33%;
                // text-align: center;
            }

            .clndr-control-button
            {
                float: left;
                width: 33%;
                display: none;

                &.rightalign
                {
                    text-align: right;
                    width: 34%;
                }
                .clndr-next-button
                {
                    cursor: pointer;
                    @extend .noselect;
                    &:hover { background: $highlight; }
                    &.inactive
                    {
                        opacity: 0.5;
                        &:hover
                        {
                            background: none;
                            cursor: default;
                        }
                    }
                }
                .clndr-previous-button
                {
                    cursor: pointer;
                    @extend .noselect;
                    &:hover { background: $highlight; }
                    &.inactive
                    {
                        opacity: 0.5;
                        &:hover
                        {
                            background: none;
                            cursor: default;
                        }
                    }
                }
            }
        }

        .clndr-table
        {
            table-layout: fixed;
            width: 100%;

            .header-days
            {
                height: 30px;
                font-size: 10px;
                background: $vibrant;

                .header-day
                {
                    vertical-align: middle;
                    text-align: center;
                    border-left: $clndr-border;
                    border-top: $clndr-border;

                    color: #fff;

                    &:last-child
                    {
                        border-right: $clndr-border;
                    }
                }
            }

            tr
            {
                height: 35px;

                td
                {
                    vertical-align: top;
                }

                .day
                {
                    border-left: $clndr-border;
                    border-top: $clndr-border;
                    width: 100%;
                    height: inherit;

                    &:hover { background: #eee; }

                    &.today
                    {
                        background: #9AD6E3;
                        &:hover { background: darken(#9AD6E3, 10%); }
                        &.event
                        {
                            background: mix(#B4E09F, #9AD6E3);
                        }
                    }

                    &.event
                    {
                        background: #B4E09F;
                        &:hover
                        {
                            background: darken(#B4E09F, 10%);
                        }
                    }

                    &.inactive
                    {
                        background: $highlight;
                    }

                    &:last-child
                    {
                        border-right: $clndr-border;
                    }

                    .day-contents
                    {
                        box-sizing: border-box;
                        // width: 100%;
                        // height: 100%;
                        padding: 8px;
                        font-size: 12px;
                        text-align: right;
                    }
                }

                .empty, .adjacent-month
                {
                    border-left: $clndr-border;
                    border-top: $clndr-border;
                    width: 100%;
                    height: inherit;
                    background: #eee;

                    &:hover { background: $highlight; }

                    &:last-child
                    {
                        border-right: $clndr-border;
                    }
                }

                &:last-child
                {
                    .day
                    {
                        border-bottom: $clndr-border;
                    }

                    .empty
                    {
                        border-bottom: $clndr-border;
                    }
                }
            }
        }
    }

}
