$dark: #543729;
$vibrant: #ffcc2f;
$vibrant2: #ef5734;
$highlight: #00acee;
$highlight2: #33b233;
$background: #f4f0f2;

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
