@import 'reset';
@import 'mixins';
@import 'utility';
@import 'clndr';
@import 'tooltipster';
@import 'datepicker';
@import 'loading';

// Base styles
body {
  background: $background;
  font: 16px/1.5 'Arimo', sans-serif;
  color: $dark;
}
a {
  color: $vibrant;
}
h1,
h2,
h3 {
  font-family: 'Arvo';
  margin: 0.5rem 0 1rem;
}
input,
p {
  font: 1rem/1.4 'Arimo', sans-serif;
  margin: 0.25rem 0;
}
h1 {
  font: 2rem/1 'Arvo', sans-serif;
  margin: 0;
  text-align: center;

  @include media-md {
    font-size: 3rem;
  }
}
h2 {
  font: 1.5rem/1.2 'Arvo', sans-serif;

  @include media-md {
    font-size: 2rem;
  }
}
h3 {
  font: 1.2rem/1.2 'Arvo', sans-serif;
  margin: 0 0 0.3rem;

  @include media-md {
    font-size: 1.5rem;
  }
}
input[type=text],
textarea {
  padding: 4px 6px;
  &::placeholder {
    color: $gray;
  }
}
textarea {
  margin: 10px 0;
}
.actions {
  margin: 8px 0 0;
}
.ical {
  text-align: center;
}
label {
  &.showme {
    display: block !important;
  }
  &.checkbox {
    display: inline-block;
    margin-right: 10px;
  }
  color: $dark;
  margin: 8px 0 0;
  em {
    font-style: normal;
    text-transform: none;
    color: #aaa;
  }

  @include media-md {
    font-size: 0.8em;
  }
}

// Filter by tag
.filters {
  margin: 1rem 0;
  font-size: 0.7rem;
}

#content {
  margin: 0 10px;

  @include media-md {
    max-width: 930px;
    margin: 2rem auto;
  }
}

// Header
header {
  background: $dark;
  color: $highlight;
  margin-bottom: 2rem;
  h2 {
    text-align: left;
    font: 1rem/1.2 'Arvo', sans-serif;
    margin: -4.5rem auto 1.5rem;
    padding-left: 8rem;
    width: 170px;
    color: #eee;
  }
  p {
    margin: 20px 0;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  .wrap {
    padding: 0 1rem 0.5rem;
  }
  h1 {
    line-height: 100px;

  }
  h1:before {
    content: ' ';
    display: inline-block;
    width: 114px;
    height: 114px;
    background: url('/static/img/con-mon.png') no-repeat;
    background-size: 114px 114px;
    vertical-align: text-top;
  }

  // Desktop styles
  @include media-md {
    p {
      margin: 20px 0;
    }
    h2 {
      font-size: 18px;
      line-height: 1.1;
      text-align: left;
      margin: -3.5rem auto 1.5rem;
      padding-left: 11.5rem;
      width: 300px;
      color: #eee;
    }
  }
}

// Tag buttons
a.tag {
  text-decoration: none;
  background: transparent;
  font-size: 0.8rem;
  color: $indie;
  &.tagged-Superhero {
    color: $superhero;
  }
  &.tagged-Kids {
    color: $kids;
  }
  &.tagged-Zines {
    color: $zines;
  }
  &.on,
  &:hover {
    background: $indie;
    color: #fff;
    &.tagged-Superhero {
      background: $superhero;
    }
    &.tagged-Kids {
      background: $kids;
    }
    &.tagged-Zines {
      background: $zines;
    }
  }
  &.on:before {
    content: '✓ ';
  }
}


// Generic tag styles
.tag {
  display: inline-block;
  padding: 4px 8px;
  background: $dark;
  color: #fff;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 4px;
  &.closed {
    background: rgba($dark,.3);
  }
  &.hidden {
    display: none;
  }
}

// Missing something?
.missing {
  margin: 20px 0;
  span {
    display: none;
  }

  @include media-md {
    span {
      display: inline-block;
    }
    br {
      display: none;
    }
  }
}

// Upcoming conventions table
.upcoming {
  table {
    width: 100%;
    margin: 20px auto;
  }
  tr.condate {
    height: 1px;
    @supports (-moz-appearance:none) {
      height: 100%; // whatever, firefox
    }
  }
  td.contags {
    width: 10px;
    height: inherit;
    font-size: 1px; // make &nbsp; tiny
    vertical-align: top;
    div {
      height: 100%;
      display: flex;
      // position: relative;
      flex-wrap: nowrap;
      flex-direction: column;
    }
    span {
      background: $indie;
      display: block;
      flex: 1;
      &[data-tag="Superhero"] {
        background: $superhero;
      }
      &[data-tag="Kids"] {
        background: $kids;
      }
      &[data-tag="Zines"] {
        background: $zines;
      }
    }
  }
  th {
    font-size: 0.8rem;
    background: $midgray;
    color: $dark;
    text-transform: uppercase;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid $midgray;
    padding: 4px;
    vertical-align: middle;
  }
  tr:hover,
  tr.accent:hover {
    td {
      background: #E7FFCF;
    }
  }
  tr.accent {
    td {
      background: #fff;
    }
  }
  td {
    // font: 0.7rem/1.2 'Arimo';
    vertical-align: middle;
    border-bottom: 1px solid $midgray;
    padding: 4px;
    transition: background-color 0.5s;
    a {
      color: $dark;
    }
    &.date {
      white-space: nowrap;
    }
  }
  text-align: center;
  .days-away {
    margin-left: 0.3rem;
  }
  .days-away-small,
  p.location {
    font-size: 0.8rem;
    opacity: 0.5;
    margin: 0;
  }
  tr.month-away .days-away,
  tr.month-away .date {
    color: rgba($dark, 1);
  }
  tr.two-months-away .days-away,
  tr.two-months-away .date {
    color: rgba($dark, 0.8);
  }
  tr.far-away .days-away,
  tr.far-away .date {
    color: rgba($dark, 0.8);
  }
  ul {
    margin-top: 0.5rem;
    list-style: none;
    line-height: 1.3;
  }
  h2,h3 {
    margin: 0;
  }

  @include media-md {
    table {
      margin: 20px auto;
    }
  }
}
.tagged-Indie a {
  color: $indie;
}
// .tagged-Zines a {
//  color: $zines;
// }

// Tag dots after con title (didn't read at all)
// .tagged-Indie.tagged-Zines a:after,
// .tagged-Indie.tagged-Kids a:after,
// .tagged-Superhero.tagged-Indie a:after {
//   content: ' ';
//   background-color: $indie;
//   display: inline-block;
//   vertical-align: top;
//   margin: 4px 0 0 8px;
//   border-radius: 50%;
//   width: 10px;
//   height: 10px;
// }
// .tagged-Indie.tagged-Zines a:after {
//   background-color: $zines;
// }
// .tagged-Indie.tagged-Kids a:after {
//   background-color: $kids;
// }

.tagged-Superhero a {
  color: $superhero;
}
.condate {
  &.inactive {
    display: none;
  }
}

// Calendar view
.calendars {
  @include clearfix;
  margin-top: 2rem;
  position: relative;
  min-height: 400px;
  h2 {
    text-align: center;
  }
}
.cal {
  h3 {
    text-align: center;
  }

  @include media-md {
    float: left;
    width: 294px;
    margin: 0 16px 20px 0;
    overflow: hidden;
  }
}

// Footer
footer {
  clear: both;
  background: $dark;
  text-align: center;
  color: $highlight;
  padding: 1rem;
}
.clixel {
  vertical-align: middle;
  display: inline-block;
  width: 82px;
  height: 34px;
  overflow: hidden;
  background: url('https://s3.amazonaws.com/static.natebeaty.com/clixel-sprite@2x.png') no-repeat;
  text-indent: -9999em;
  transition: background-position 0.15s ease;
  background-size: 82px 68px;
  &:hover {
    background-position: 0 -34px;
  }
}
.keep-drawing {
  display: none;

  @include media-md {
    display: table-cell;
  }
}

// Flash notices at top of page
.flashes {
  width: 50%;
  margin: 0 auto 20px;
  padding: 8px;
  border: 1px solid $midgray;
  background: #e4ffca;
  text-align: center;
  list-style: none;
  li {
    list-style: none;
  }
}

// All Conventions page (quick bulk submit)
#condates {
  .conventions {
    padding: 10px;
  }
  .convention {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
    p.meta {
      margin: 0;
      font-size: 0.8rem;
      color: $gray;
      a {
        color: $gray;
        &:hover {
          color: darken($gray, 10%);
        }
      }
    }
    h2 small {
      font-size: 1rem;
      color: $gray;
    }
  }
  .add-new-condate {
    margin-top: 6px;
  }

  // @include media-lg {
  //   #content {
  //     max-width: 1400px;
  //     text-align: center;
  //   }
  //   .convention {
  //     max-width: none;
  //     width: 45%;
  //     vertical-align: top;
  //     display: inline-block;
  //   }
  // }

}

form.submit-condate {
  max-width: 600px;
  padding: 10px;
  border: 1px solid $midgray;
  background: #f8f8f8;
  margin: 10px auto;
  .extras {
    label {
      display: block;
    }
    input {
      width: 98%;
    }

    @include media-md {
      input {
        width: 50%;
      }
    }
  }
  .select-convention {
    select,
    > label {
      display: inline-block;
      font-size: 16px;
      margin-bottom: 10px;
    }
    select,
    input {
      vertical-align: baseline;
      margin-bottom: 10px;
    }
    .tags {
      margin-bottom: 16px;
    }
  }
  input[type=text] {
    font-size: 0.8rem;
  }

  .row {
    @include clearfix;
    input[type=text] {
      width: 98%;
    }

    @include media-md {
      .field {
        width: 25%;
        float: left;
      }
    }
  }
  &.submitted-ok {
    fieldset,
    .actions {
      display: none;
    }
  }
}

// Quicksearch form to filter conventions
.quicksearch {
  max-width: 600px;
  margin: 20px auto 0;
  input {
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
  }
}

// AJAX feedback after form submit
.status {
  &.success,
  &.error {
    padding: 10px;
    background: $vibrant2;
    color: #fff;
    margin: 10px 0;
  }
  &.success {
    background: $highlight2;
  }
}
