@import 'reset';
@import 'mixins';
@import 'clndr';
@import 'tooltipster';

body {
	background: $background;
	font-family: 'Arimo';
	color: $dark;
}
a {
	color: $vibrant;
}
h1,h2,h3 {
	font-family: 'Arvo';
	margin: .5rem 0 1rem;
}
p {
	font: 1rem/1.4 'Arimo';
	margin: .5rem 0;
}
h1 {
	font-size: 2rem;
	margin: 0;
	text-align: center;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
	margin: 0 0 .3rem;
}
header {
	background: $dark;
	color: $highlight;
	margin-bottom: 2rem;
	.wrap {
		padding: 1rem;
	}
}
.missing {
	font-size: .8rem;
	a {
		color: $highlight;
	}
}
.upcoming {
	text-align: center;
	.days-away {
		margin-left: .3rem;
		font-size: .8rem;
		color: rgba($dark, .3);
	}
	ul {
		margin-top: .5rem;
		list-style: none;
		line-height: 1.3;
	}
	h2,h3 {
		display: inline-block;
		margin: 0 .2rem .2rem;
	}
}
.calendars {
	margin-top: 2rem;
	position: relative;
	min-height: 400px;
}

footer {
	clear: both;
	background: $dark;
	text-align: center;
	color: $highlight;
	padding: 1rem;
	a {
		color: #fff;
	}
}

@media only screen and (min-width: 1024px) {
	h1 {
		font-size: 3rem;
	}
	.upcoming {
		// text-align: left;
	}
	#content {
		width: 930px;
		margin: 2rem auto;
	}
	.cal {
		float: left;
		width: 294px;
		margin: 0 16px 20px 0;
		overflow: hidden;
	}
}
